<div class="flex flex-col justify-center items-center mt-10">
  <h2 class="text-lg">Date night tonight is at...</h2>

  <div class="mt-6">
    <span class="text-3xl font-bold"><%= @restaurant['name'] %></span>
  </div>

  <a class="mt-8 bg-indigo-600 text-indigo-50 py-2 px-3 rounded-full hover:bg-indigo-800 hover:text-white" href="/find">
    We don't want this, pick again
  </a>
</div>
