<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Date Night / Dinner Time</title>
    <meta name="description" content="Is it Date Night? Is it Dinner Time? Find a place to eat in Rochester, NY using Date Night / Dinner Time.">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="DN/DT">

    <link href="/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/icon-180x180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="/icon-167x167.png" sizes="167x167">
    <link rel="apple-touch-icon" href="/icon-152x152.png" sizes="152x152">
  </head>
  <body class="p-4 md:p-0">
    <nav class="p-6 md:px-0 flex justify-center">
      <a href="/">
        <h1 class="text-xl font-bold text-indigo-600">Date Night / Dinner Time</h1>
      </a>
    </nav>

    <main class="mt-10">
      <%= yield %>
    </main>
  </body>
</html>
